.txt {
	font-family: robotoFlex;;
	color: white;
	cursor: default;
}

body{
	background-color: #272727;
	margin: 0;
}

a{
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}

div {
	box-sizing: border-box;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.absolute-zero{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.fixed-zero{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.forRes{
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;

	background: rgba(0, 0, 0, 0);
	backdrop-filter: blur(0px);
	display: none;
	z-index: 9999;

	transition: 1s;
}

.def-input {
	display: block;
	box-sizing: border-box;
	height: 56px;
	width: 100%;
	border-radius: 7px;
	border: 2px solid #3D3D3D;
	background: rgb(36, 36, 36);
	padding-left: 17px;
	font-size: 16px;
	outline: none;
	cursor: text;
	margin-bottom: 10px;
	transition: 0.15s;
}

.def-input:focus {
	border: 2px solid #6C6C6C;
}